<!DOCTYPE html>
<html>

<head>
    <title>index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <h1 text-align: center;>Game Blog</h1>

    <form method="POST" action="/signup">
        <input type="text" placeholder="Your Username" name="userName" />
        <input type="text" placeholder="Password" name="userPW" />
        <input type="text" placeholder="Re-enter Password" name="userRePW" />

        <input type="submit" value="Submit!" />
    </form>

    <a class="lr" href="{{url_for('index')}}"> Go back to Welcome page </a>

    </div>
</body>

</html>